<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body>

        <canvas width="500" height="600" id="myChart"></canvas>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="% static 'canvas.js' %"></script>
        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales:{
                            xAxis:{
                                type:"time",
                                time: {
                                    unit: "hour"
                                }
                            }
                        }
                    }
                }
            );
            });
        </script>
    </body>
</html>